.bottom-navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: #1E1E1E;
    padding: 10px 0;
    z-index: 1000;
}
.bottom-navbar .nav-item {
    display: inline-block;
    margin: 0 15px;
}

.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: none;
    color: #1E1E1E;
    padding: 10px 0;
    z-index: 1000;
}
.top-navbar .nav-item {
    display: inline-block;
    margin: 0 15px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}